{
    "openapi": "3.0.0",
    "info": {
        "title": "royalsensorymassage API",
        "description": "API REST del sistema ecommerce royalsensorymassage. Todos los endpoints protegidos requieren Bearer Token JWT.",
        "contact": {
            "email": "admin@royalsensorymassage.com"
        },
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://royalsensorymassage.com/api",
            "description": "Servidor de Producción"
        },
        {
            "url": "http://localhost:8000/api",
            "description": "Servidor Local (desarrollo)"
        }
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Iniciar sesión",
                "description": "Autentica al usuario y retorna JWT + refresh token",
                "operationId": "67d6d0fdd54fba132e1b6f55ca254183",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Credenciales incorrectas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Refrescar token JWT",
                "operationId": "e7ab7446393758bb71fd1946a349e500",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "refreshToken"
                                ],
                                "properties": {
                                    "refreshToken": {
                                        "type": "string",
                                        "example": "abc123refreshtoken"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token renovado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Refresh token inválido o expirado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Cerrar sesión",
                "operationId": "6abf3b64a4bc7838d56346f05a5153af",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "refreshToken"
                                ],
                                "properties": {
                                    "refreshToken": {
                                        "type": "string",
                                        "example": "abc123refreshtoken"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sesión cerrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sesión cerrada exitosamente"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/perfil/validar_conexion": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Validar conexión activa del usuario",
                "operationId": "66178b411aafe5c53f2d32f6076e905d",
                "responses": {
                    "200": {
                        "description": "Sesión activa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/perfil/validar_perfil": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Seleccionar perfil/rol activo del usuario",
                "operationId": "8703a5945be364729806103a3a7593c9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id_perfil": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "id_rol": {
                                        "type": "integer",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Perfil cargado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/olvido-contrasena": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Solicitar recuperación de contraseña",
                "description": "Envía un correo con el token de recuperación al email especificado",
                "operationId": "4361603029b481052c68192ed8ae82e7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "usuario@ejemplo.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Correo enviado"
                    },
                    "422": {
                        "description": "Email no encontrado"
                    },
                    "500": {
                        "description": "Error al enviar correo"
                    }
                }
            }
        },
        "/auth/restablecer-contrasena": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Restablecer contraseña con token",
                "description": "Actualiza la contraseña del usuario usando el token recibido por correo",
                "operationId": "5e15c65eb17a15a07651b0ab0cab7a73",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "token",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "token": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 6
                                    },
                                    "password_confirmation": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Contraseña cambiada exitosamente"
                    },
                    "422": {
                        "description": "Token inválido o error de validación"
                    }
                }
            }
        },
        "/backup/listar": {
            "get": {
                "tags": [
                    "Backup"
                ],
                "summary": "Listar todos los backups generados",
                "operationId": "fa7d275d139eb183edc35812528a331e",
                "responses": {
                    "200": {
                        "description": "Lista de backups",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/backup/generar": {
            "post": {
                "tags": [
                    "Backup"
                ],
                "summary": "Generar un nuevo backup de la base de datos",
                "operationId": "d9a2a8228ed76199a36222004dd3bf30",
                "responses": {
                    "200": {
                        "description": "Backup generado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/backup/descargar": {
            "get": {
                "tags": [
                    "Backup"
                ],
                "summary": "Descargar un archivo de backup por ID",
                "operationId": "7f1372c91e211690033b76b0c491674c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Archivo de backup para descarga"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/backup/eliminar": {
            "delete": {
                "tags": [
                    "Backup"
                ],
                "summary": "Eliminar un archivo de backup del servidor",
                "operationId": "526deb09881314444eb8c551a2b70dd4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Backup eliminado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/balance_ventas/mensual": {
            "get": {
                "tags": [
                    "Balance"
                ],
                "summary": "Obtener balance de ventas mensual detallado",
                "operationId": "b06e3b14be1f4f11cdd03362ffb19611",
                "parameters": [
                    {
                        "name": "fecha_inicio",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        },
                        "example": "2024-06-01"
                    },
                    {
                        "name": "fecha_fin",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        },
                        "example": "2024-06-30"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance mensual obtenido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/balance_ventas/trimestral": {
            "get": {
                "tags": [
                    "Balance"
                ],
                "summary": "Obtener balance de ventas trimestral",
                "operationId": "7a2fa5571ce993bd45ac511d4ca37ee4",
                "parameters": [
                    {
                        "name": "anio",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 2024
                    },
                    {
                        "name": "trimestre",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                2,
                                3,
                                4
                            ]
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance trimestral obtenido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/balance_ventas/anual": {
            "get": {
                "tags": [
                    "Balance"
                ],
                "summary": "Obtener balance de ventas anual",
                "operationId": "3789d4fddb8e5506c4a026a5182fc6ff",
                "parameters": [
                    {
                        "name": "anio",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 2024
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance anual obtenido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/balance_ventas/descargar_mensual": {
            "get": {
                "tags": [
                    "Balance"
                ],
                "summary": "Descargar reporte de balance mensual (Excel)",
                "operationId": "b2e4e7ef5ed13a3fd737b323355f3fb8",
                "parameters": [
                    {
                        "name": "fecha_inicio",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "fecha_fin",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Archivo Excel generado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/balance_ventas/descargar_trimestral": {
            "get": {
                "tags": [
                    "Balance"
                ],
                "summary": "Descargar reporte de balance trimestral (Excel)",
                "operationId": "17321a89df9c9b01c9d85df88f595bfd",
                "parameters": [
                    {
                        "name": "anio",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "trimestre",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                2,
                                3,
                                4
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Archivo Excel generado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/balance_ventas/descargar_anual": {
            "get": {
                "tags": [
                    "Balance"
                ],
                "summary": "Descargar reporte de balance anual (Excel)",
                "operationId": "7d7ffa0dcf962b98a0e773a329ce4094",
                "parameters": [
                    {
                        "name": "anio",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Archivo Excel generado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/banner_popular/listar": {
            "get": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Listar todos los banners populares",
                "operationId": "e3f34fdf4a7068215853a55682bf63af",
                "responses": {
                    "200": {
                        "description": "Lista de banners",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/banner_popular/obtener/{id}": {
            "get": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Obtener banner popular por ID",
                "operationId": "69e1a8a8ec9a00e265b4d10639de2b6d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Banner encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/banner_popular/crear": {
            "post": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Crear un nuevo banner popular (con imagen)",
                "operationId": "cc231cc4658cd811dda4a38f826a1d19",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "titulo_principal",
                                    "imagen",
                                    "orden",
                                    "Activo"
                                ],
                                "properties": {
                                    "titulo_principal": {
                                        "type": "string",
                                        "example": "Nuevos Arribos"
                                    },
                                    "titulo_secundario": {
                                        "type": "string"
                                    },
                                    "url_direccion": {
                                        "type": "string"
                                    },
                                    "texto_descuento": {
                                        "type": "string"
                                    },
                                    "precio_desde": {
                                        "type": "number"
                                    },
                                    "imagen": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "orden": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "Activo": {
                                        "type": "string",
                                        "enum": [
                                            "S",
                                            "N"
                                        ],
                                        "example": "S"
                                    },
                                    "estilo_css": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Banner creado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/banner_popular/actualizar/{id}": {
            "post": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Actualizar banner popular existente (soporta imagen)",
                "operationId": "ab2a05da8ec57ad6d4f89231cd3a3820",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "titulo_principal",
                                    "orden",
                                    "Activo"
                                ],
                                "properties": {
                                    "titulo_principal": {
                                        "type": "string"
                                    },
                                    "titulo_secundario": {
                                        "type": "string"
                                    },
                                    "url_direccion": {
                                        "type": "string"
                                    },
                                    "texto_descuento": {
                                        "type": "string"
                                    },
                                    "precio_desde": {
                                        "type": "number"
                                    },
                                    "imagen": {
                                        "description": "Nueva imagen (opcional)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "orden": {
                                        "type": "integer"
                                    },
                                    "Activo": {
                                        "type": "string",
                                        "enum": [
                                            "S",
                                            "N"
                                        ]
                                    },
                                    "estilo_css": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Banner actualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/banner_popular/eliminar/{id}": {
            "delete": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Eliminar banner popular por ID",
                "operationId": "da6206fceb02f9ca51bc28b5c706987e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Banner eliminado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/beneficio/listar": {
            "get": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Listar todos los beneficios (cards de la home)",
                "operationId": "9e01a9d29c43c11440e3eea5989fc72a",
                "responses": {
                    "200": {
                        "description": "Lista de beneficios",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/beneficio/actualizar": {
            "post": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Actualizar múltiples beneficios a la vez",
                "operationId": "6097311cee864d0608c2d11d525b5e23",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "cards"
                                ],
                                "properties": {
                                    "cards": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "icono": {
                                                    "type": "string",
                                                    "example": "truck"
                                                },
                                                "titulo": {
                                                    "type": "string",
                                                    "example": "Envío Gratis"
                                                },
                                                "descripcion": {
                                                    "type": "string",
                                                    "example": "En pedidos mayores a S/ 100"
                                                },
                                                "badge": {
                                                    "type": "string"
                                                },
                                                "orden": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "activo": {
                                                    "type": "string",
                                                    "enum": [
                                                        "S",
                                                        "N"
                                                    ],
                                                    "example": "S"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Beneficios actualizados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/calcular-envio": {
            "post": {
                "tags": [
                    "Costo Envío"
                ],
                "summary": "Calcular costo total de envío basado en productos y distrito",
                "operationId": "7411111b164b87b57580df4f137b1acd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "productos",
                                    "distrito"
                                ],
                                "properties": {
                                    "productos": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id_producto": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "peso": {
                                                    "type": "number",
                                                    "example": 1.5
                                                },
                                                "cantidad": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "distrito": {
                                        "type": "string",
                                        "example": "LIMA"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cálculo realizado exitosamente"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categoria_popular/listar": {
            "get": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Listar todas las categorías populares",
                "operationId": "737717ec76b6fb177088d072c5d9b65c",
                "responses": {
                    "200": {
                        "description": "Lista de categorías populares",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categoria_popular/obtener/{id}": {
            "get": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Obtener categoría popular por ID",
                "operationId": "bd890db4aaa1241928a8ef67486d755f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoría encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categoria_popular/crear": {
            "post": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Crear una nueva categoría popular (con imagen)",
                "operationId": "aba933fe85a33bc5c8ce735b6e4da346",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "nombre_categoria",
                                    "orden",
                                    "Activo"
                                ],
                                "properties": {
                                    "nombre_categoria": {
                                        "type": "string",
                                        "example": "Electrónica"
                                    },
                                    "imagen": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "orden": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "Activo": {
                                        "type": "string",
                                        "enum": [
                                            "S",
                                            "N"
                                        ],
                                        "example": "S"
                                    },
                                    "url_direccion": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Categoría creada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categoria_popular/actualizar/{id}": {
            "post": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Actualizar categoría popular existente (soporta imagen)",
                "operationId": "785b9b99da846085d83e092ba56e4ea7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "nombre_categoria",
                                    "orden",
                                    "Activo"
                                ],
                                "properties": {
                                    "nombre_categoria": {
                                        "type": "string"
                                    },
                                    "imagen": {
                                        "description": "Nueva imagen (opcional)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "orden": {
                                        "type": "integer"
                                    },
                                    "Activo": {
                                        "type": "string",
                                        "enum": [
                                            "S",
                                            "N"
                                        ]
                                    },
                                    "url_direccion": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Categoría actualizada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categoria_popular/eliminar/{id}": {
            "delete": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Eliminar categoría popular por ID",
                "operationId": "53c21eef72ff7ef62446856e1ff647e1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoría eliminada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/clientes/obtener": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Obtener cliente por ID",
                "operationId": "f6c9b71d98db640b80cdd960975a78fa",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cliente encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/clientes/listar": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Listar todos los clientes",
                "operationId": "b2e3bbc3492b5216fd66064f0f2d0691",
                "responses": {
                    "200": {
                        "description": "Lista de clientes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/clientes/crear": {
            "post": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Crear nuevo cliente",
                "operationId": "d3a1d2e13409dfc441607d09b3b4dd1b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nombre",
                                    "apellido",
                                    "email",
                                    "Activo"
                                ],
                                "properties": {
                                    "nombre": {
                                        "type": "string",
                                        "example": "Carlos"
                                    },
                                    "apellido": {
                                        "type": "string",
                                        "example": "López"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "carlos@mail.com"
                                    },
                                    "telefono": {
                                        "type": "string"
                                    },
                                    "direccion": {
                                        "type": "string"
                                    },
                                    "ruc": {
                                        "type": "string"
                                    },
                                    "razon_social": {
                                        "type": "string"
                                    },
                                    "Activo": {
                                        "type": "string",
                                        "enum": [
                                            "S",
                                            "N"
                                        ],
                                        "example": "S"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente creado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/clientes/actualizar": {
            "put": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Actualizar cliente existente",
                "operationId": "a8aeece112b854dba8823dc7bb6f1805",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id",
                                    "nombre",
                                    "Activo"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "nombre": {
                                        "type": "string"
                                    },
                                    "apellido": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "Activo": {
                                        "type": "string",
                                        "enum": [
                                            "S",
                                            "N"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente actualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/clientes/eliminar": {
            "delete": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Eliminar cliente",
                "operationId": "9c80cb7a2fddfa9daa2a4f389ad74645",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente eliminado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/costo-envio/listar": {
            "get": {
                "tags": [
                    "Configuración Envíos"
                ],
                "summary": "Listar todos los costos de envío por distrito",
                "operationId": "d418cf48504ad6897e26d0a6b42df900",
                "responses": {
                    "200": {
                        "description": "Lista de costos de envío",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/costo-envio/crear": {
            "post": {
                "tags": [
                    "Configuración Envíos"
                ],
                "summary": "Crear nuevo costo de envío por distrito",
                "operationId": "5881696921fc7a5ed317f28c0aecebe1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "distrito",
                                    "costo_base",
                                    "costo_por_kg",
                                    "monto_minimo_envio_gratis"
                                ],
                                "properties": {
                                    "distrito": {
                                        "type": "string",
                                        "example": "Miraflores"
                                    },
                                    "costo_base": {
                                        "type": "number",
                                        "example": 10
                                    },
                                    "costo_por_kg": {
                                        "type": "number",
                                        "example": 2.5
                                    },
                                    "monto_minimo_envio_gratis": {
                                        "type": "number",
                                        "example": 200
                                    },
                                    "activo": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Costo de envío creado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/costo-envio/actualizar/{id}": {
            "put": {
                "tags": [
                    "Configuración Envíos"
                ],
                "summary": "Actualizar costo de envío existente",
                "operationId": "c816bc45d2c82b6816f7f6ef5e3dec66",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "distrito",
                                    "costo_base",
                                    "costo_por_kg",
                                    "monto_minimo_envio_gratis"
                                ],
                                "properties": {
                                    "distrito": {
                                        "type": "string"
                                    },
                                    "costo_base": {
                                        "type": "number"
                                    },
                                    "costo_por_kg": {
                                        "type": "number"
                                    },
                                    "monto_minimo_envio_gratis": {
                                        "type": "number"
                                    },
                                    "activo": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Costo de envío actualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/costo-envio/eliminar/{id}": {
            "delete": {
                "tags": [
                    "Configuración Envíos"
                ],
                "summary": "Eliminar costo de envío",
                "operationId": "36eec444ec588d9cc02c15d3d14da912",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Costo de envío eliminado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/empleados/obtener": {
            "get": {
                "tags": [
                    "Empleados"
                ],
                "summary": "Obtener empleado por ID",
                "operationId": "ac280a1643267f049e747f5aa6f7b33a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Empleado encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/empleados/listar": {
            "get": {
                "tags": [
                    "Empleados"
                ],
                "summary": "Listar todos los empleados",
                "operationId": "c6160c611ce6b868bf3a386ab42608df",
                "responses": {
                    "200": {
                        "description": "Lista de empleados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/empleados/crear": {
            "post": {
                "tags": [
                    "Empleados"
                ],
                "summary": "Crear nuevo empleado",
                "operationId": "4f885198b4679421712bf220bf5eebd7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nombre",
                                    "apellido",
                                    "dni",
                                    "email",
                                    "Activo"
                                ],
                                "properties": {
                                    "nombre": {
                                        "type": "string"
                                    },
                                    "apellido": {
                                        "type": "string"
                                    },
                                    "dni": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "telefono": {
                                        "type": "string"
                                    },
                                    "direccion": {
                                        "type": "string"
                                    },
                                    "licencia": {
                                        "type": "string"
                                    },
                                    "email_acceso": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "Activo": {
                                        "type": "string",
                                        "enum": [
                                            "S",
                                            "N"
                                        ],
                                        "example": "S"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Empleado creado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/empleados/actualizar": {
            "put": {
                "tags": [
                    "Empleados"
                ],
                "summary": "Actualizar empleado existente",
                "operationId": "c7f2405896b25f74bc627901648c7dc4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "nombre": {
                                        "type": "string"
                                    },
                                    "apellido": {
                                        "type": "string"
                                    },
                                    "dni": {
                                        "type": "string"
                                    },
                                    "Activo": {
                                        "type": "string",
                                        "enum": [
                                            "S",
                                            "N"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Empleado actualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/empleados/eliminar": {
            "delete": {
                "tags": [
                    "Empleados"
                ],
                "summary": "Eliminar empleado",
                "operationId": "67c89d1a587dcf5c54d5284967a78afa",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Empleado eliminado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/empleados/asignar_usuario": {
            "put": {
                "tags": [
                    "Empleados"
                ],
                "summary": "Asignar un usuario de acceso a un empleado",
                "operationId": "0a136fb778d4614a93ac7f2b13d4ef42",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_empleado",
                                    "id_usuario"
                                ],
                                "properties": {
                                    "id_empleado": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "id_usuario": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Usuario asignado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/storage/{filename}": {
            "get": {
                "tags": [
                    "File Management"
                ],
                "summary": "Servir archivo (comprobante) desde storage",
                "operationId": "65e6149f639fc2b259173b6afa3770d7",
                "parameters": [
                    {
                        "name": "filename",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "payment_123.pdf"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Archivo cargado satisfactoriamente"
                    },
                    "404": {
                        "description": "Archivo no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/storage_ckeditor/{filename}": {
            "get": {
                "tags": [
                    "File Management"
                ],
                "summary": "Servir imagen de editor de texto (CKEditor)",
                "operationId": "aa1db35301f43d09065c8a22ea6e13b6",
                "parameters": [
                    {
                        "name": "filename",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Imagen cargada"
                    },
                    "404": {
                        "description": "Imagen no encontrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/storage_reclamo/{filename}": {
            "get": {
                "tags": [
                    "File Management"
                ],
                "summary": "Servir archivo de reclamo (Público)",
                "description": "Este endpoint es público para permitir la previsualización de adjuntos en el libro de reclamaciones.",
                "operationId": "5eb8c5877ca62532bbabdd300fbc9530",
                "parameters": [
                    {
                        "name": "filename",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Archivo de reclamo cargado"
                    },
                    "404": {
                        "description": "Archivo no encontrado"
                    }
                }
            }
        },
        "/metadatospagina/obtener": {
            "get": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Obtener metadatos de página por ID",
                "operationId": "5e5556cd1955c54d4dd5fb4f574b0607",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadatos encontrados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/metadatospagina/listar": {
            "get": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Listar metadatos de todas las páginas",
                "operationId": "f37bc3e0896bcaf6e8a4e1a9db5af3fc",
                "responses": {
                    "200": {
                        "description": "Lista de metadatos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/metadatospagina/actualizar": {
            "put": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Actualizar metadatos SEO de una página",
                "operationId": "656a2ba1faa858cbd9a7b76683cd7627",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id",
                                    "titulo_pagina",
                                    "descripcion_pagina"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "titulo_pagina": {
                                        "type": "string"
                                    },
                                    "descripcion_pagina": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Metadatos actualizados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/metadatospagina/listar_productos": {
            "get": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Listar productos activos para asociación con metadatos",
                "operationId": "d7ce88fd8c00469ce0aea0aba4a0f0dd",
                "responses": {
                    "200": {
                        "description": "Lista de productos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/ofertas/listar": {
            "get": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Listar todas las ofertas",
                "operationId": "e5b71d21da850f3371d0bb17a74a24f2",
                "responses": {
                    "200": {
                        "description": "Lista de ofertas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/OfertaDelDia"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/ofertas/obtener": {
            "get": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Obtener oferta por ID",
                "operationId": "8e56560658ddf7b56cfb824ca54be287",
                "parameters": [
                    {
                        "name": "id_oferta_dia",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Oferta encontrada"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/ofertas/listar-productos": {
            "get": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Listar productos disponibles para asignar a ofertas",
                "operationId": "31889daffd0f9449fc7d89b93130a7be",
                "responses": {
                    "200": {
                        "description": "Lista de productos activos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/ofertas/crear": {
            "post": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Crear nueva oferta del día",
                "description": "Al crear, desactiva todas las ofertas previas automáticamente",
                "operationId": "66a353916cc6d70b19fa40bc2d890db4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_producto",
                                    "nombre_oferta",
                                    "precio_original",
                                    "precio_oferta",
                                    "start_time",
                                    "end_time",
                                    "cantidad_disponible",
                                    "Activo"
                                ],
                                "properties": {
                                    "id_producto": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "nombre_oferta": {
                                        "type": "string",
                                        "example": "Oferta de la semana"
                                    },
                                    "precio_original": {
                                        "type": "number",
                                        "example": 99.9
                                    },
                                    "precio_oferta": {
                                        "type": "number",
                                        "example": 79.9
                                    },
                                    "start_time": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-06-01 08:00:00"
                                    },
                                    "end_time": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-06-02 08:00:00"
                                    },
                                    "cantidad_disponible": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "example": 100
                                    },
                                    "Activo": {
                                        "type": "string",
                                        "enum": [
                                            "S",
                                            "N"
                                        ],
                                        "example": "S"
                                    },
                                    "segundo_id_producto": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "segundo_nombre_oferta": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "segundo_precio_oferta": {
                                        "type": "number",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Oferta creada exitosamente"
                    },
                    "422": {
                        "description": "Error de validación"
                    },
                    "500": {
                        "description": "Error interno"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/ofertas/actualizar": {
            "put": {
                "tags": [
                    "Sitio Web"
                ],
                "summary": "Actualizar oferta existente",
                "operationId": "ee1a34254c631eb8ff7280f05ce55e1b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_oferta_dia",
                                    "id_producto",
                                    "nombre_oferta",
                                    "precio_original",
                                    "precio_oferta",
                                    "start_time",
                                    "end_time",
                                    "cantidad_disponible",
                                    "Activo"
                                ],
                                "properties": {
                                    "id_oferta_dia": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "id_producto": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "nombre_oferta": {
                                        "type": "string",
                                        "example": "Oferta actualizada"
                                    },
                                    "precio_original": {
                                        "type": "number",
                                        "example": 99.9
                                    },
                                    "precio_oferta": {
                                        "type": "number",
                                        "example": 69.9
                                    },
                                    "start_time": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "end_time": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "cantidad_disponible": {
                                        "type": "integer",
                                        "example": 80
                                    },
                                    "Activo": {
                                        "type": "string",
                                        "enum": [
                                            "S",
[...]
